body {
    background-image: url(https://pre00.deviantart.net/c8d2/th/pre/f/2016/295/d/c/telekinesis_test_subjet_on_the_run_by_antoinecollignon-d96bpu9.jpg);
    resize: all;
    display: flex;
    resize: all;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100vw 100vh;
    margin: 20px;
    text-align: center;
}
